<!doctype html>  
<html lang="en">  
<head>  
	<meta charset="utf8">  
	<title>PTN</title>    
	<!--link href="/reset.css" rel="stylesheet"-->  
	<!--link href="/style.css" rel="stylesheet"-->
	
</head>  
<body>  
	<header>  
		<hgroup>  
			<h1><a href="/">PTN</a></h1>  
		</hgroup>  
	</header>  
      
	<div id="main">  
		<%= yield %>  
	</div>  
      
	<footer>
		<p>Element data is from <a href="http://en.wikipedia.org/wiki/List_of_elements" title="Wikipedia">Wikipedia</a>.</p>
		<p>© 2014 <a href="http://www.whitegloveapps.com/blog/" title="White Glove Apps">White Glove Apps</a>.</p>
		<p>White Glove is our trademark; all others are property of their owners.</p>
	</footer>  
</body>  
</html>  